.contentWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    gap: 1rem;
    max-width: 1500px;
}
.tabletWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.topRow {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.heading {
    padding-top: 21px;
}

.partners {
    ul {
        padding-top: 4px;
    }
    li {
        padding: 12px 0;
        @media screen and (max-width: $mobile-breakpoint) {
            padding: 6px 0;
        }
    }
}

.copyrightSection {
    section + section {
        padding-top: 1rem;
    }
}
.copyrightTitle {
    font-family: var(--encode-sans-condensed-semi-bold);
    font-size: 17px;
    line-height: 36px;
    padding-bottom: 0.5rem;
    @media screen and (max-width: $mobile-breakpoint) {
        font-size: 12px;
        line-height: 17px;
    }
}
.copyright {
    font-size: 14px;
    line-height: 21px;
    p {
        padding-top: 12px;

        @media screen and (max-width: $mobile-breakpoint) {
            font-size: 10px;
            line-height: 16px;
        }
    }
}

.copyrightSubtitle {
    font-family: var(--encode-sans-condensed-semi-bold);
    font-size: 16px;
    line-height: 24px;
    padding: 0rem 0 0.5rem;
    @media screen and (max-width: $mobile-breakpoint) {
        font-size: 12px;
        line-height: 17px;
    }
}

li.humanitiesTexasImage {
    max-width: 180px;
    padding-top: 2rem;
    @media screen and (max-width: $desktop-breakpoint) {
        max-width: 125px;
    }
}
