.imageBlock {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}
.image {
    width: 100%;
    height: auto;
    padding-bottom: 1rem;
}

.caption {
    font-size: 18px;
    font-weight: $font_medium;
    line-height: 24px;
    font-stretch: condensed;
}

.photoCredit {
    padding-top: 10px;
    font-size: 15px;
    line-height: 22px;
    font-stretch: condensed;
    font-weight: $font_regular;
}
