.carouselWrapper {
    display: flex;
    overflow: hidden;
    width: 100%;
    background: rgba(255, 122, 89, 0);
    scroll-snap-type: proximity;
}

.imageWrapper {
    z-index: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.image {
    max-width: 50vw;
    min-width: 2rem;
    max-height: 30rem;
    width: auto;
    height: auto;
    @media (max-width: $mobile-breakpoint) {
        max-width: 75vw;
        max-height: 20rem;
    }
}

.imageTextContainer {
    position: relative;
    bottom: 0.3%; // To prevent a little gap between image and text box
    background-color: #691256;
    overflow: hidden;
    padding: 1.5rem;
    max-height: fit-content;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    user-select: none;
}

.imageText {
    position: relative;
    font-size: 13px;
    color: white;
    font-family: --var(--encode-sans-condensed-extra-bold);
}

.imageTextTitle {
    font-size: 1.5rem;
    font-family: --var(--encode-sans-condensed-bold);
}

.arrow {
    position: fixed;
    top: 40%;
    user-select: none;
    z-index: 10;
    cursor: default;
    // To hide the button when it starts to look weird
    // @container (max-width: 850px) {
    //     display: none;
    // }
    &:hover {
        scale: 1.1;
    }
}

.rightArrow {
    right: -1rem;
}

.leftArrow {
    left: -0.5rem;
}

.clickable {
    cursor: pointer !important;
}
