.carouselWrapper {
    background-color: #f8f2e3;
    width: 50%;
}

.imageWrapper {
    position: relative;
    text-align: center;
}

.image {
    width: 100%;
    height: 100%;
}

.imageTextContainer {
    position: relative;
    background-color: purple;
    top: 100%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}