/* Default styles for desktop */
.contentWrapper {
  margin: 5%;
  margin-top: 5rem;
  display: flex;
  background-color: green;
}

.firstColumn {
  flex: 1;
  background-color: red;
}

.secondColumn {
  flex: 1;
  background-color: blue;
}

.thirdColumn {
  flex: 1;
  background-color: purple;
}

.title {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.image {
  width: 100%;
  height: auto;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 1rem;
  background-color: yellow;
  color: purple;
  font-weight: 800;
  border-radius: 15%;
}

.footer {
  position: absolute;
  bottom: 0%;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .contentWrapper {
    flex-direction: column;
  }

  .firstColumn,
  .thirdColumn {
    width: 100%;
    margin: 0;
  }

  .secondColumn {
    width: 100%;
    margin: 0;
  }
}