.contentWrapper {
  margin: 5%;
  margin-top: 5rem;
}

.title {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.text {
    margin-top: 1rem;
}

.firstParagraph {
    font-size: 1.5rem;
    margin-bottom: 5%;
}

.secondParagraph {
    font-size: 1.2rem;
}

.image {
    width: 100%;
    height: auto;
}

.caption {
  margin-top: 10px;
}

.button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 1rem;
    background-color: yellow;
    color: purple;
    font-weight: 800;
    border-radius: 15%;
}

.footer {
  position: relative;
}