.flipperWrapper {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1000px;
    max-height: 800px;
    margin: 0 auto;
}

.flipperWrapper > * {
    flex: 1;
    margin: 0 auto;
}

.text {
    position: relative;
    top: -80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    width: 50%;
    font-size: 1.25rem;
    word-wrap: break-word;
}