.flipperWrapper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.imageWrapper {
  position: relative;
  text-align: center;
}

.text {
  position: absolute;
  top: 5%;
  padding: 0 1vw;
  min-width: 100%;
  font-size: 2.2vw;
  font-weight: 500;
  @media screen and (min-width: 650px) {
    font-size: 1.8vw;
  }
  @media screen and (min-width: 700px) {
    font-size: 1.3vw;
  }
  @media screen and (min-width: 1300px) {
    font-size: 1vw;
  }
}

.textIsClosed {
    font-size: 1.3vw;
    font-weight: bold;
    word-spacing: 10vw;
    @media screen and (max-width: 700px) {
      font-size: 2.8vw;
    }
    @media screen and (min-width: 800px) {
      font-size: 1.5vw;
    }
}

.flipper {
  position: relative;
  justify-content: center;
  align-items: center;  
  width: 100%;
  @media screen and (max-width: 500px) {
    height: 30vh;
  }
  @media screen and (min-width: 900px) {
    min-height: 50vh;
  }
  @media screen and (min-width: 1300px) {
    min-height: 60vh;
  }
}
  