.flipperWrapper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.flipper {
    position: relative;
}

.text {
    position: absolute; 
    font-size: 1rem;
    width: fit-content;
    font-weight: 600;
    top: 10%;
}
