.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    padding-top: 2rem;
    align-items: center;
    text-align: center;
    color: #33541d;
    font-size: 171px;
    text-transform: uppercase;
    font-family: var(--glass-antiqua);
    background-image: url('../components/images/hero/hero@2x.png');
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media screen and (max-width: calc($tablet-breakpoint)) {
        background-image: url('../components/images/hero/hero@2x.png');
    }
    @media screen and (max-width: calc($mobile-breakpoint + 40px)) {
        background-image: url('../components/images/hero/hero.png');
        aspect-ratio: 320/41;
        min-height: 40px;
    }
}

.before {
    font-family: var(--rubik-dirt);
}
