.main {
    position: relative;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    position: absolute;
    font-size: calc(9rem + 1vw);
    font-weight: 500;
    text-transform: uppercase;
    color: #304e19;
    top: 0%;
    width: 50%;
    line-height: 10rem;
}

.imageContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeImage {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.videoSection {
    display: flex;
    gap: 1rem;
    padding: 0rem 2rem;

    video {
        height: 100%;
        width: 100%;
    }
}

.videoSection {
    flex-wrap: wrap;
}
.videoWrapper {
    flex-basis: 100%;
}
.storyNavigation {
    flex-basis: 100%;
    max-width: unset;
}

@media screen and (min-width: $desktop-breakpoint) {
    .videoSection {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .storyNavigation {
        max-width: 300px;
        flex-basis: 20%;
    }
}
