.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    inset: 40px;
    position: absolute;
}

.overlayOpen {
    overflow-y: hidden;
}

.overlay {
    color: black;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6000;
}

.content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: relative;
    background-color: white;
    max-height: calc(100vh - 80px);
}

.close {
    position: absolute;
    top: 40px;
    right: 40px;
    height: 40px;
    width: 40px;
}
