/* styles.css */
.popoverTrigger {
    text-decoration: underline;
    color: black;
    font-weight: inherit;
    padding: 0;
}

.popoverContent {
    border-radius: 12px;
    padding: 1.25rem;
    background-color: $section_title_color;
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    @media screen and (max-width: $mobile_breakpoint) {
        font-size: 10px;
        line-height: 13px;
    }
}

.popoverArrow {
    fill: $section_title_color;
}
