.parent {
    display: flex;
    flex-flow: column;
    width: 100%;
    color: #4783b0;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

@container (min-width: 648px) {
    // if we have room then we can use grid
    .parent {
        display: grid;
        grid-template-areas: 'header header' 'question choice1' 'question choice2';
        grid-template-rows: 52px auto auto;
        grid-template-columns: 57% 43%;
    }
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    line-height: 39px;
    font-weight: $font_extrabold;
    font-family: var(--encode-sans-condensed-extra-bold);
    grid-area: header;
    background-color: rgba(95, 88, 66, 0.1);
    padding: 10px 1rem;
    @media screen and (max-width: $mobile-breakpoint) {
        font-size: 14px;
        line-height: 18px;
    }
}

.image {
    grid-area: question;
    position: relative;
    aspect-ratio: 463/260; // images are all this size
}

.choice {
    border-radius: 12px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 0rem 1rem;
    min-height: 100px;
    @media screen and (max-width: $mobile-breakpoint) {
        min-height: 83px;
    }
}

.choiceDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;

    .yesOrNo {
        padding-bottom: 0.5rem;
        font-size: 16px;
        line-height: 24px;
        font-weight: $font_black;

        @container (max-width: 800px) {
            font-size: 14px;
            line-height: 20px;
            padding-bottom: 0rem;
        }
        @media screen and (max-width: 400px) {
            font-size: 12px;
            line-height: 15px;
            padding-bottom: 0rem;
        }
    }

    .details {
        font-size: 18px;
        line-height: 24px;
        font-family: var(--encode-sans-condensed);
        margin-bottom: 0;
        @container (max-width: 1200px) {
            font-size: 18px;
            line-height: 24px;
        }

        @container (max-width: 800px) {
            font-size: 14px;
            line-height: 16px;
        }
        @media screen and (max-width: 400px) {
            font-size: 11px;
            line-height: 15px;
        }
    }
}
.choiceDisabled {
    cursor: default;
}

.choiceNotClicked {
    background-color: #4783b0;
    color: #8dd2ef;
    font-size: 35px;
    font-weight: $font_black;
    letter-spacing: 1px;
    align-items: center;

    @media screen and (max-width: $mobile-breakpoint) {
        font-size: 22px;
        line-height: 21px;
    }
    @media screen and (min-width: $mobile-breakpoint) and (max-width: $desktop-breakpoint) {
        font-size: 30px;
        line-height: 38px;
    }
}
.choiceClicked {
    background-color: #8dd2ef;
    color: black;
    align-items: center;
    cursor: default;
}
.choice1 {
    grid-area: choice1;
}
.choice2 {
    grid-area: choice2;
}
