.sliderContainer {
    width: 100%;
}

.slider {
    overflow: visible !important;
    width: 100%
}

.sliderHandle {
    height: 100%;
    cursor: pointer;
    aspect-ratio: 49/462;
    @media screen and (max-width: $tablet-breakpoint) {
        aspect-ratio: 27.534/152.32;
    }
}

.captionContainer {
    position: absolute;
    top: 0;
    right: 11%;
    bottom: 0;
    width: 29%;
    pointer-events: none;
}

.sliderCaption {
    color: white;
    position:absolute;
    top:34%;
    line-height: 2vw;
    font-size: 1.5vw;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

@media screen and (max-width: 768px) {
    .sliderCaption {
       font-size: 12px;
       line-height: 15px;
    }
}
    
    
.visible {
    opacity: 1;
    visibility: visible;
    transition-delay: .25s;
}
