.sliderContainer {
    width: 100%;
    position: relative;
}

.slider {
    overflow: visible !important;
    width: 100%;
    div[data-rcs^='handle-container'] {
        cursor: pointer !important;
    }
}

.sliderHandle {
    height: 100%;
}

.captionContainer {
    position: absolute;
    top: 0;
    right: 11%;
    bottom: 0;
    width: 29%;
    pointer-events: none;
    font-family: var(--encode-sans-condensed);
}

.sliderCaption {
    color: white;
    position: absolute;
    top: 34%;
    // @media screen and (max-width: 500px) {
    //     top: 25%;
    // }
    line-height: 2vw;
    font-size: 1.5vw;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

@media screen and (max-width: $mobile-breakpoint) {
    .sliderCaption {
        font-size: 12px;
        line-height: 15px;
    }
}
@media screen and (min-width: $mobile-breakpoint) and (max-width: $desktop-breakpoint) {
    .sliderCaption {
        font-size: 18px;
        line-height: 21px;
    }
}

.visible {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.25s;
}
