.section {
    // Needed to offset the fixed header size for scrolling
    scroll-margin-top: calc($header_height / 2);
    p {
        margin-bottom: 1rem;
    }
}
.section {
    padding-top: 3rem;
}
.section + .section {
    padding-top: 1rem;
    @media screen and (min-width: $tablet_breakpoint) {
        padding-top: 2rem;
    }

    @media screen and (min-width: $desktop_breakpoint) {
        padding-top: 3rem;
    }
}
.articleRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.articleWithTitle {
    padding-left: 18px;
}
.article {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.articleNarrow {
    width: 75%;
}

.title {
    font-size: 15px;
    font-weight: $font_black;
    margin-bottom: 22px;

    text-transform: uppercase;
    text-align: center;
    display: inline-flex;
    line-height: 43px;
    padding: 0px 16px;
    background-color: $section_title_background_color;
    color: $section_title_color;
    border-radius: 12px;

    @media screen and (max-width: $mobile_breakpoint) {
        font-size: 11px;
        line-height: 28px;
        border-radius: 6px;
    }

    @media screen and (min-width: $mobile_breakpoint) and (max-width: $desktop-breakpoint) {
        font-size: 13px;
        line-height: 40px;
    }
}

.titleHidden {
    margin-bottom: 0;
}

.summary {
    font-size: 36px;
    line-height: 43px;
    font-family: var(--encode-sans-condensed-black);
    @media screen and (max-width: $mobile_breakpoint) {
        font-size: 23px;
        line-height: 28px;
    }
    @media screen and (min-width: $mobile_breakpoint) and (max-width: $desktop-breakpoint) {
        font-size: 30px;
        line-height: 41px;
    }
}

.description {
    font-size: 26px;
    line-height: 35px;
    font-family: var(--encode-sans-condensed-semi-bold);
    padding-bottom: 0.5rem;
    @media screen and (max-width: $mobile_breakpoint) {
        font-size: 16px;
        line-height: 22px;
    }
    @media screen and (min-width: $mobile_breakpoint) and (max-width: $desktop-breakpoint) {
        font-size: 23px;
        line-height: 31px;
    }
}

.interactive {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    padding-bottom: 30px;
    container-type: inline-size;
}

.details {
    font-size: 21px;
    line-height: 31px;
    font-weight: $font_light;
    letter-spacing: 0px;
    @media screen and (max-width: $mobile_breakpoint) {
        font-size: 14px;
        line-height: 19px;
    }
    @media screen and (min-width: $mobile_breakpoint) and (max-width: $desktop_breakpoint) {
        font-size: 18px;
        line-height: 26px;
    }
}

.pacing {
    font-family: --var(encode-sans-condensed-semi-bold);
    font-size: 26px;
    line-height: 35px;

    @media screen and (max-width: $mobile_breakpoint) {
        font-size: 16px;
        line-height: 20px;
    }

    @media screen and (min-width: $mobile_breakpoint) and (max-width: $desktop-breakpoint) {
        font-size: 20px;
        line-height: 27px;
    }
}

.activityLink {
    padding-top: 15px;
}
