.section {
    h2,
    h3,
    p {
        margin-bottom: 1rem;
    }
    padding-top: 1rem;
}
.section + .section {
    padding-top: 3rem;
    @media screen and (max-width: $mobile_breakpoint) {
        padding-top: 1rem;
    }
}

.title {
    font-size: 15px;
    font-weight: $font_black;

    text-transform: uppercase;
    text-align: center;
    display: inline-flex;
    line-height: 43px;
    padding: 0px 16px;
    background-color: $section_title_background_color;
    color: $section_title_color;
    border-radius: 12px;

    @media screen and (max-width: $mobile_breakpoint) {
        font-size: 8px;
        line-height: 28px;
        border-radius: 6px;
    }
}

.summary {
    font-size: 36px;
    line-height: 43px;
    font-family: var(--encode-sans-condensed-black);
    @media screen and (max-width: $mobile_breakpoint) {
        font-size: 23px;
        line-height: 28px;
    }
}

.description {
    font-size: 26px;
    line-height: 35px;
    font-family: var(--encode-sans-condensed-semi-bold);
    padding-bottom: 0.5rem;
    @media screen and (max-width: $mobile_breakpoint) {
        font-size: 16px;
        line-height: 22px;
    }
}

.interactive {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    padding-bottom: 30px;
    container-type: inline-size;
}

.details {
    font-size: 21px;
    line-height: 31px;
    font-weight: $font_light;
    letter-spacing: 0px;
    @media screen and (max-width: $mobile_breakpoint) {
        font-size: 14px;
        line-height: 19px;
    }
    @media screen and (min-width: $mobile_breakpoint) and (max-width: $desktop_breakpoint) {
        font-size: 18px;
        line-height: 26px;
    }
}
