.navbar {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  flex-grow: 1;
  width: 100vw;
  overflow-x: auto;
}

.navbar .navitem {
  text-transform: uppercase;
  font-size: 1rem;
  @media screen and (max-width: $tablet-breakpoint) {
    font-size: 0.9375rem;
  }
  padding: 1rem;

  flex-grow: 1;
  flex-basis: 15%;
  height: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  //transition: flex-basis ease-in-out 0.2s, font-size ease-in-out 0.2s;

  &.selected {
    flex-basis: 55%;
    font-size: 1.25rem;
    font-weight: 700;
    @media screen and (max-width: $tablet-breakpoint) {
      font-size: 1rem;
    }
    cursor: not-allowed;
    pointer-events: none;
  }
}

.navbar .navitem a {
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  white-space: nowrap;
}

.home {
  background-color: #1a0e0e;
  color: gray;
  max-width: 100px;
}

.originstories {
  background-color: lightgray;
  color: black;
}

.iceagetexas {
  background-color: darkslategray;
  color: black;
}

.dailylife {
  background-color: black;
  color: gray;
}

@media screen and (max-width: $tablet-breakpoint) {
  .navbar {
    flex-wrap: wrap;
  }
  .navbar .home {
    flex-basis: 100%;
    max-width: unset;
    height: 40px;
  }
  .navbar ul {
    flex-basis: 100%;
    .navitem {
      height: 40px;
    }
  }
}

// Version that will show on the Home Page

.isOnHomePage {
  ul {
    gap: 1rem;
    .navitem a {
      font-size: 1.5rem;
      white-space: normal;
    }
  }
  align-items: stretch;

  @media screen and (max-width: $tablet-breakpoint) {
    ul {
      flex-wrap: wrap;
      .navitem {
        flex-basis: 100%;
      }
    }
  }

  @media screen and (min-width: $tablet-breakpoint) {
    ul {
      flex-direction: row;
      align-items: stretch;
    }
    .navitem {
      height: 100px;
    }
  }

  @media screen and (max-width: $desktop-breakpoint) {
    ul .navitem {
      height: 150px;
    }
  }

  @media screen and (min-width: $desktop-breakpoint) {
    ul {
      flex-direction: column;
      align-items: stretch;
    }
    .navitem a {
      white-space: nowrap;
    }
  }
}
