.section {
  padding: 2rem;
  h2,
  h3,
  p {
    padding-bottom: 1rem;
  }
}

.title {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
}

.summary {
  font-size: 2rem;
  font-weight: 700;
}

.description {
  font-size: 1.25rem;
}
