.toccontainer {
  position: fixed;
  top: 200px;
  right: 1rem;
  bottom: 200px;
  width: $toc_width;
  display: none; // by default hide the TOC
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;

  @media screen and (min-width: $tablet-breakpoint) and (min-height: $toc_height) {
    // TODO: extract this to it's own variable
    display: flex;
  }
}

.toc {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 1rem;
}

.toc .tocitem {
  padding: 1rem;
  background-color: $section_title_background_color;
  color: $section_title_color;
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  font-weight: $font_black;
  text-transform: uppercase;
  border-radius: 12px;
  background-color: #fdf1d8;

  &.highlighted {
    background-color: $section_title_background_color;
  }
}
