.contentWrapper {
    margin: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    --text-column: 1;
    --image-column: 2;
    gap: 1rem;
}

.textBlock {
    grid-column: var(--text-column);
    background-color: blue;
}

.imageBlock {
    grid-column: var(--image-column);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.image {
    min-width: 75%;
    width: auto;
    height: auto;
    object-fit: cover;
}

.sendOff {
    grid-column: 1;
}

@media screen and (max-width: 950px) {
    .contentWrapper {
        grid-template-columns: 1fr;
    }

    .imageBlock {
        grid-column: 1;
    }
}

@media screen and (min-width: 951px) {
    .openingParagraph {
        grid-row: 1;
    }

    .textBlock1 {
        grid-row: 2;
    }

    .textBlock2 {
        grid-row: 3;
    }

    .textBlock3 {
        grid-row: 4;
    }

    .textBlock4 {
        grid-row: 5;
    }

    .sendOff {
        grid-row: 5;
    }
}