.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;
    --font-size: calc(1rem + 1vw);
}

.textBlock {
    font-size: var(--font-size);
    padding-bottom: 5%;
}

.textBlock > p {
    margin-bottom: 5%;
    margin-top: 5%;
}

.openingParagraph > h1 {
    padding-bottom: 3%;
}

.imageBlock {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.imageBlock > p {
    font-size: calc(var(--font-size) - 20%);
    color: #464646;
}

.image {
    width: 100%;
    height: auto;
    padding-bottom: 3%;
}

.endingImageBlock {
    background-color: yellow;
    margin-bottom: 20%;
}