$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

$toc_width: 200px;
$toc_height: 500px;

$font_thin: 100;
$font_extra_light: 200;
$font_light: 300;
$font_regular: 400;
$font_medium: 500;
$font_semibold: 425;
$font_bold: 700;
$font_extrabold: 800;
$font_condensed_black: 450;
$font_black: 900;

$section_title_background_color: #f3bb41;
$section_title_color: #691256;
