.zoomerContainer {
    position: relative;
    color: white;
}

.zoomer {
    clip-path: inset(0% 0% 0% 0%);
}

.zoomerQuestion {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    font-size: 70px;
    line-height: 70px;
    font-family: var(--encode-sans-condensed-black);
    padding: 18px 0;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    @media screen and (max-width: $mobile-breakpoint) {
        font-size: 40px;
        line-height: 45px;
    }
    @media screen and (min-width: $mobile-breakpoint) and (max-width: $desktop-breakpoint) {
        font-size: 45px;
        line-height: 46px;
        letter-spacing: 2px;
    }
}

.zoomerDetails {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding: 18px 20px;
    background-image: linear-gradient(
        rgba(59, 59, 59, 0) 40%,
        rgba(61, 61, 61, 1)
    );
    font-weight: $font_black;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    pointer-events: none;

    h3 {
        font-size: 26px;
        line-height: 20px;
        font-family: var(--encode-sans-condensed-extra-bold);
    }
    h4 {
        font-size: 18px;
        font-family: var(--encode-sans-condensed-bold);
        line-height: 20px;
        padding-bottom: 0.5rem;
    }
    p {
        font-size: 18px;
        line-height: 24px;
        font-family: var(--encode-sans-condensed);
        margin-bottom: 0px;
    }

    @container (max-width: 768px) {
        h3 {
            font-size: 24px;
            line-height: 20px;
        }
        h4 {
            font-size: 15px;
            line-height: 18px;
        }
        p {
            font-size: 15px;
            line-height: 20px;
        }
    }
    @container (max-width: 480px) {
        h3 {
            font-size: 20px;
            line-height: 20px;
            margin-bottom: 0.5rem;
        }
        h4 {
            font-size: 13px;
            line-height: 13px;
        }
        p {
            font-size: 12px;
            line-height: 14px;
        }
        padding: 0.5rem 1rem;
    }
}
